h1 {
    color:cornflowerblue;
    text-align: center;
}
body {
    background-color: darkseagreen;
}
h2 {
    font-style: italic;
    text-align: center;
    color: teal
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  ul {
      text-align: initial;
  }
  ol {
      text-align: start;
      
  }